<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
      <h1 class="instruction__title"><%= title %></h1>
      <div class="instruction__icon"></div>
      <h2 class="instruction">Player 1</h2>
    </div>
    <div class="introduction">
      <h1 class="introduction__title"><%= title %></h1>
      <h3 class="introduction__txt">Choose your opponent...</h3>
      <div class="introduction__button-container">
        <button class="button-option" id="button-man">Man</button>
        <button class="button-option" id="button-machine">Machine</button>
      </div>
    </div>
    <svg class="svg__container">
      <rect class="outline" x="25%" y="25%" width="50%" height="50%" stroke-dasharray="50">
    </svg>
    <div class="gameboard">
      <!--Javascript creates board pieces dynamically - see board.js-->
    </div>
    <div class="conclusion">
      <h1 class="conclusion__winner"></h1>
      <h1 class="conclusion__wins">wins!</h1>
      <button class="button-option button-option--playagain" id="button-replay">PLAY AGAIN</button>
    </div>

    <script type="text/javascript" src="/javascripts/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
  </body>
</html>
