<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="introduction">
      <h2 class="introduction__txt">Welcome to Connect Four</h2>
      <input class="introduction__name" type="text">
      <button class="introduction__start-button">Start</button>
    </div>
    <div class="gameboard">
      
    </div>
    <div class="conclusion">

    </div>

    <script type="text/javascript" src="/javascripts/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
  </body>
</html>
