<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="introduction">
      
    </div>
    <div class="gameboard"></div>
    <div class="conclusion"></div>

    <script type="text/javascript" src="/javascripts/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
  </body>
</html>
