.header {
    display: block;
    margin: 0 auto;
    max-width: 75%;
}
.introduction {
    align-items: center;
    background: $color-primary;
    background: -webkit-linear-gradient(-90deg, $color-primary, $color-secondary);
    background: -o-linear-gradient(-90deg, $color-primary, $color-secondary);
    background: -moz-linear-gradient(-90deg, $color-primary, $color-secondary);
    background: linear-gradient(-90deg, $color-primary, $color-secondary);
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    &.is-hidden {
        display: none;
    }
}

.introduction__title {
    color: $color-white;
    font-weight: bold;
    margin: 8rem 0;
    text-align: center;
    text-transform: uppercase;
}

.introduction__txt {
    color: $color-white;
    text-align: center;
}

.introduction__button-container {
    display: block;
    margin: 0 auto;
}

.button-option {
    background-color: transparent;
    border: 3px solid $color-white;
    color: $color-white;
    display: block;
    font-size: 2rem;
    height: 100px;
    margin: 50px auto;
    text-align: center;
    transition: all 0.25s linear;
    width: 150px;

    &:hover {
        background-color: $color-white;
        border-radius: 2px;
        color: $black;
        cursor: pointer;
    }
}

.instruction {
    margin: 2rem 0;
    opacity: 0;
    padding: 0.5rem;
    text-align: center;
    transition: opacity 0.25s linear 1s;

    &.is-visable {
        opacity: 1;
    }
}

.instruction__title {
    font-weight: bold;
    letter-spacing: 10px;
    margin: 2rem 0;
    text-align: center;
    text-transform: uppercase;
    transform: translateY(-200px);
    transition: all 0.5s linear;

    &.is-visable {
        transform: translateY(0px); 
    }
}

.gameboard {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    opacity: 0;
    position: relative;
    transition: opacity 1s ease-in 1s;
    width: 75%;

    &.is-visable {
        opacity: 1;
    }
}

.gameboard__column {
    display: inline-block;
    font-size: 0;
    height: 100%;
    margin: 1px;
    width: calc(100%/7.2);

    @media (max-width: 950px) {
        width: calc(100%/7.3);
    }
}

.gameboard__square {
    background-color: $black;
    border: 1px solid $black;
    display: block;
    margin: 1;
    padding-top: calc(100%);
    position: relative;
    width: 100%;
}

.gameboard__coin {
    background-color: $color-white;
    border-radius: 50%;
    border: 1px solid #222;
    height: 75%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: background-color 0.2s linear;
    width: 75%;

    &.player1 {
        background-color: $color-primary;
    }

    &.player2 {
        background-color: $color-secondary;
    }
}

.svg__container {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.outline {
    fill:none;
    opacity: 1;
    stroke: $black;
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
    stroke-width:5;

    &.is-active {
        animation: dash 1s linear forwards;
    }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
    visibility: hidden;
  }
}

.instruction__icon {
    background-color: $color-primary;
    border-radius: 0%;
    height: 40px;
    left: 50%;
    opacity: 0.3;
    position: absolute;
    top: 95px;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.25s linear;
    width: 40px;
    z-index: -1;

    &.player2 {
        background-color: $color-secondary;
        border-radius: 50%;
        transform: translateX(-50%) rotate(0deg);
        transition: all 0.25s linear;
    }

    @media (max-width: 750px){
        top: 155px;
    }
}

.conclusion {
    align-items: center;
    display: block;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s linear;
    width: 100%;
    z-index: -1;

    &.is-active {
        background: $color-primary;
        background: -webkit-linear-gradient(-90deg, $color-primary, $color-secondary);
        background: -o-linear-gradient(-90deg, $color-primary, $color-secondary);
        background: -moz-linear-gradient(-90deg, $color-primary, $color-secondary);
        background: linear-gradient(-90deg, $color-primary, $color-secondary);
        padding-top: 20%;
        opacity: 1;
        z-index: 2;
    }
}

.conclusion__winner {
    text-align: center;
}

.conclusion__wins {
    text-align: center;
}