@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

$font-regular: 'Playfair Display', serif; 
$font-standout: 'Josefin Sans', sans-serif;

$margin-small: 15px;
$margin-normal: 40px;
$margin-large: 60px;
$margin-extra: 100px;

$black: #565656;
$color-pure-black: #000;
$color-primary: #FFC300;
$color-secondary: #C09F80;
$color-white: #ffffff;

$content-width: 550px;
$mobile-breakpoint: 762px;