/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.nav {
  position: fixed;
  background-color: #FFC300;
  color: #ffffff;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 3;
  transform: translateY(-70px);
  transition: all 0.25s ease-out;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .nav.is-sticky {
    transform: translateY(0px); }

.nav__wrapper {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  z-index: 3; }

.nav--about {
  display: block; }
  .nav--about.is-active {
    height: 100%;
    overflow: none;
    display: block; }

.nav__headline--about {
  cursor: pointer;
  text-align: center;
  transition: all 0.1s linear;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3D(-50%, -50%, 0);
  z-index: 10; }
  .nav__headline--about.is-active {
    display: none;
    font-size: 3rem;
    margin: 5%;
    transition: all 0.1s linear;
    transform: translate3D(-50%, -150%, 0); }

.nav__image--about {
  display: none;
  transform: scale(0);
  transition: 1s linear 1s; }
  .nav__image--about.is-active {
    width: 400px;
    display: block;
    margin: 50px auto;
    border: 3px white solid;
    transform: scale(1); }
  @media (max-width: 762px) {
    .nav__image--about {
      width: 200px !important;
      margin: 25px auto !important; } }

.nav__text--about {
  color: #ffffff;
  opacity: 0;
  padding: 0 20% 5%;
  text-align: center;
  transform: translateX(-100%);
  z-index: -1; }
  .nav__text--about.is-active {
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.2s ease-out 0.15s;
    z-index: 10; }
  @media (max-width: 762px) {
    .nav__text--about {
      font-size: 0.8rem;
      padding: 0 5% 5%; } }

.nav__close--about {
  cursor: pointer;
  opacity: 0;
  text-transform: uppercase;
  transform: translateX(50px);
  z-index: -1; }
  .nav__close--about.is-active {
    opacity: 1;
    text-align: center;
    transform: translateX(0px);
    transition: all 0.5s ease-out 0.15s;
    z-index: 10; }
  .nav__close--about:hover {
    font-weight: bolder;
    text-decoration: underline; }

.nav__arrow {
  width: 22px;
  transition: transform .1s ease-out; }
  .nav__arrow svg {
    fill: #ffffff; }
    @media (max-width: 762px) {
      .nav__arrow svg {
        width: 15px; } }

.nav__arrow--left:hover {
  transition: transform .5s ease-out;
  transform: translateX(-5px); }

.nav__arrow--right:hover {
  transition: transform .5s ease-out;
  transform: translateX(5px); }

.nav__headline {
  text-decoration: none; }
  .nav__headline h4 {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center; }
    @media (max-width: 762px) {
      .nav__headline h4 {
        font-size: 1rem; } }

.footer {
  height: 300px;
  width: 100%;
  display: inline-block;
  font-size: 0;
  position: fixed;
  bottom: 0;
  z-index: -1;
  background-color: #000; }
  .footer:hover .home-link div {
    transition: transform 0.2s linear;
    transform: translate3d(-50%, -50%, 0) rotate(45deg);
    border-radius: 2px; }
    .footer:hover .home-link div svg {
      height: 50%;
      transform: rotate(-45deg);
      width: 50%; }
  @media (max-width: 762px) {
    .footer {
      height: 150px; } }

.dummy-footer {
  background-color: #565656;
  height: 0px;
  margin-top: 300px;
  width: 100%; }
  @media (max-width: 762px) {
    .dummy-footer {
      margin-top: 150px; } }

.footer__pane--wrapper {
  height: 100%;
  width: 50%;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  position: relative;
  cursor: pointer; }

.footer__pane--next,
.footer__pane--previous {
  height: 100%;
  width: 100%;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  position: relative;
  cursor: pointer; }
  .footer__pane--next:hover img,
  .footer__pane--previous:hover img {
    opacity: .6;
    transition: transform 2s linear, opacity .1s linear;
    transform: scale(1.02); }

.footer__image {
  z-index: 1;
  position: absolute;
  opacity: .3;
  transition: transform 2s linear, opacity .1s linear;
  height: 100%; }

.home__container {
  background-color: #FFC300;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 5;
  transform: translate3d(-50%, -50%, 0);
  transition: transform 0.2s linear; }
  .home__container:hover svg {
    cursor: pointer;
    width: 60%;
    height: 60%;
    fill: #ffffff; }
  @media (max-width: 762px) {
    .home__container {
      display: none;
      height: 50px;
      width: 50px; } }

.home__icon {
  z-index: 4;
  width: 40%;
  height: 40%;
  transition: all .1s linear; }

.pane__text {
  align-items: center;
  color: #ffffff;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 3; }
  .pane__text h3 {
    padding: 0 15%;
    text-align: center; }
    @media (max-width: 762px) {
      .pane__text h3 {
        font-size: 1rem;
        padding: 0 1rem; } }

.disclaimer {
  height: 150px;
  background: #565656;
  display: block; }

.disclaimer__text {
  color: white;
  display: flex;
  justify-content: center; }

.hero {
  background: #565656;
  display: flex;
  width: 100%;
  height: 400px;
  align-items: center;
  overflow: hidden; }

.hero__headline {
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  font-size: 6rem;
  text-transform: lowercase;
  text-align: center; }
  @media (max-width: 762px) {
    .hero__headline {
      font-size: 5rem; } }

.hero__image {
  display: block;
  opacity: 0.8;
  transform: scale(1.1);
  width: 100%; }
  @media (max-width: 762px) {
    .hero__image {
      height: 100%;
      width: initial; } }

.hero__title {
  display: flex;
  justify-content: center; }

.post-body {
  display: block;
  margin: 0 auto;
  max-width: 550px;
  padding-bottom: 150px; }
  .post-body > p {
    line-height: 1.4;
    margin: 15px 0;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.2s linear; }
    .post-body > p.is-active {
      opacity: 1;
      transform: translateY(0px); }
  .post-body > h3 {
    margin: 40px 0 0;
    opacity: 0;
    transform: translateX(-20px);
    transition: all 1s linear; }
    .post-body > h3.is-active {
      transform: translateX(0px);
      opacity: 1; }
  @media (max-width: 762px) {
    .post-body {
      padding: 1.5rem; } }

.post__header {
  margin: 40px; }

.header__title {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  position: relative;
  overflow: hidden; }
  .header__title:before {
    background-image: linear-gradient(to left, #ffffff, #565656, #ffffff);
    bottom: 0;
    content: '';
    display: block;
    height: 1.5px;
    position: absolute;
    transform: translate3d(0, 4px, 0);
    transition: all 1s ease-out;
    width: 25%; }
  .header__title.is-active:before {
    transform: translate3d(0, 0px, 0);
    transition: all 1s ease-out; }

.header__date {
  display: flex;
  justify-content: center;
  margin-top: 40px; }

.container {
  max-width: 1000px;
  display: block;
  margin: 60px auto; }
  @media (max-width: 762px) {
    .container {
      padding: 0 5%; } }

.post {
  display: flex;
  width: 50%;
  height: auto;
  position: relative;
  margin: 40px;
  align-items: center;
  justify-content: center; }
  .post.left {
    margin-right: auto; }
    .post.left .post__title,
    .post.left .post__date {
      left: 0;
      text-align: left; }
  .post.right {
    margin-left: auto; }
    .post.right .post__title,
    .post.right .post__date {
      right: 0;
      text-align: right; }
  .post:hover {
    overflow: hidden; }
    .post:hover .post__curtain {
      opacity: 0.7;
      transition: opacity 0.1s linear; }
    .post:hover .post__description {
      opacity: 1;
      transition: opacity 0.15s ease-in;
      padding: 70px;
      line-height: 1.5;
      text-align: center; }
    .post:hover .post__image {
      transform: scale(1.1);
      transition: all 5s ease-in; }
    .post:hover .post__title {
      opacity: 0;
      transition: opacity 0.15s linear; }
    .post:hover .post__date {
      opacity: 0;
      transition: opacity 0.15s linear; }
  @media (max-width: 762px) {
    .post {
      width: 100%;
      margin: 15px 0 0 0; }
      .post .post__date {
        font-size: 0.8rem;
        max-width: 100%;
        top: 0;
        width: 100%; }
      .post .post__title {
        font-size: 1.5rem; } }

.post:before, .post:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 36px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  box-shadow: 0 35px 20px #777;
  transform: rotate(-4deg); }

.post:after {
  transform: rotate(4deg);
  right: 10px;
  left: auto; }

.post__image {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-out; }

.post__title {
  color: #565656;
  display: block;
  position: absolute;
  bottom: 15px;
  background: white;
  padding: 0 11px;
  max-width: 75%; }

.post__description {
  display: block;
  position: absolute;
  opacity: 0;
  color: white; }

.post__date {
  display: block;
  position: absolute;
  top: 15px;
  right: 0;
  max-width: 25%;
  background-color: white;
  color: #FFC300;
  padding: 0 5px; }

.post__curtain {
  background-color: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.1s linear; }

.social__container {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translate3d(-20%, -50%, 0);
  font-size: 0; }
  @media (max-width: 762px) {
    .social__container {
      bottom: 0;
      display: none;
      top: inherit;
      transform: translate3d(0, 0, 0); } }

.social__button {
  width: 60px;
  height: 30px;
  transform: translate3d(-61px, 0, 0);
  padding: 5px 0px 5px 10px;
  background-color: blue;
  transition: all 0.1s ease-out;
  cursor: pointer; }
  .social__button.is-sticky {
    transform: translate3d(0, 0, 0); }
    .social__button.is-sticky:nth-of-type(7) {
      transition-delay: 0.35s; }
    .social__button.is-sticky:nth-of-type(6) {
      transition-delay: 0.3s; }
    .social__button.is-sticky:nth-of-type(5) {
      transition-delay: 0.25s; }
    .social__button.is-sticky:nth-of-type(4) {
      transition-delay: 0.2s; }
    .social__button.is-sticky:nth-of-type(3) {
      transition-delay: 0.15s; }
    .social__button.is-sticky:nth-of-type(2) {
      transition-delay: 0.1s; }
    .social__button.is-sticky:nth-of-type(1) {
      transition-delay: 0.05s; }
    @media (max-width: 762px) {
      .social__button.is-sticky {
        transform: translate3d(0, 0, 0); } }
  .social__button:hover {
    transition-delay: 0s;
    transform: translateX(10px); }
    .social__button:hover > svg {
      fill: white; }
  @media (max-width: 762px) {
    .social__button {
      display: inline-block;
      transform: translate3d(0, -31px, 0); } }

.social__button--facebook {
  background-color: #3b5998; }

.social__button--google {
  background-color: #dd4b39; }

.social__button--instagram {
  background-color: #e95950; }

.social__button--linkedin {
  background-color: #55acee; }

.social__button--twitter {
  background-color: #55acee; }

.social__button--snapchat {
  background-color: #fffc00; }

.social__button--youtube {
  background-color: red; }

.social__icon {
  width: 100%;
  height: 100%; }

.content {
  background: #ffffff; }

a,
p {
  font-family: "Playfair Display", serif;
  line-height: 1.6;
  color: #565656; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

a,
p {
  font-size: 1.1rem; }
